.result{
    padding: 20px 0;
    border-top: 1px solid #2296f3;
}
.input_result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Correct{
    display: inline-block;
    width: 160px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffb700;
}
.Incorrect{
    display: none;
}